#home-page {
    display: flex;
    height: 100%;

    .svg-col {
        padding: 0px;
    }

    .wave-container {
        background: transparent;
        // position: absolute;
        // top: 17em;
        // width: 100%;
    }

    .wave-container > svg {
        display: block;
        transform: translate(0px, 5px);
    }

    .below-wave {
        background-color: #F3F4F5;
    }

    .scroll-top-container {

        #scroll-top-button {
            position: fixed;
            bottom: 2%;
            right: 1%;
        }
    }

}