#home-page {
    display: flex;
    height: 100%;
    background-color: #161d2f ;
    // background: rgb(113,124,137);
    // background: linear-gradient(0deg, rgba(113,124,137,1) 0%, rgba(22,29,47,1) 100%);

    .svg-col {
        padding: 0px;
    }

    .wave-container {
        background: transparent;
        // position: absolute;
        // top: 17em;
        // width: 100%;
    }

    .wave-container > svg {
        display: block;
        transform: translate(0px, 5px);
    }

    .below-wave {
        background-color: #161d2f;
        color: var(--color-white);
    }

    .above-wave {
        
        background: linear-gradient(0deg, rgba(113,124,137,1) 0%, rgba(22,29,47,1) 100%);
    }

    .wave-row {
        background: rgb(113,124,137);
    }

    .scroll-top-container {

        #scroll-top-button {
            position: fixed;
            bottom: 2%;
            right: 1%;
        }
    }

    .navigation-arrow-button {
        color: var(--color-secondary);
    }
}