.about-content {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    font-size: 1.2em;
}

.skill-chips-row {
    height: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .skill-chip-wrapper {
        margin: 1em;
    }
    
    .skill-chips-container {
        display: flex;
        justify-content: center;
    }
}

.avatar-col {
    display: flex;
    justify-content: center;

    .avatar-wrapper {
        display: flex;
        justify-content: center;
        width: 26em;
        margin-bottom: 2em;
        img {
            position: relative;
            display: inline-block;
            width: 100%;
            height: auto;
            margin-top: 1.5em;
            border-radius: 1.5em;
            box-shadow: 10px 9px 10px 1px #717c89;
            transition: all 0.3s ease-in-out;
        }
          
          /* Create the hidden pseudo-element */
          /* include the shadow for the end state */
        img::after {
            position: absolute;
            width: 100%;
            height: auto;
            opacity: 0;
            box-shadow: 10px 9px 10px 5px #717c89;
            transition: opacity 0.3s ease-in-out;
        }

        img:hover {
            box-shadow: 10px 9px 10px 5px #717c89;
        }

        img:hover::after {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1440px) {
    .avatar-col {
        justify-content: flex-end;
    }

    .avatar-wrapper {
        margin-bottom: 1em;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}