#appbar {
    background: transparent;
    box-shadow: none;
    border-top: 5px solid #151515;
    
    .header-buttons-container {
        display: flex;
    }

    .header-anchor-link {
        margin-right: 0.3em;
    }
    
    .header-anchor-link:hover {
        text-decoration: none;
        
    }

    .button-content {
        text-transform: none;
        display: flex;

        .header-label {
            font-size: 2em;
            color: var(--color-white);
            font-family: var(--font-family-primary);
            transition: color 0.3s ease-out;
        }

        .icons {
            font-size: 1.3em;
            margin-right: 0.2em;
            margin-top: 0.16em;
            color: var(--color-secondary);
        }
    }

    .MuiToolbar-regular {
        min-height: 34px;
    }

    .header-label:hover {
        color: var(--color-secondary);
    }
}