#appbar {
    background: transparent;
    box-shadow: none;
    
    .header-buttons-container {
        display: flex;
    }

    .header-anchor-link:hover {
        text-decoration: none;
    }

    .button-content {
        font-size: 2em;
        font-weight: 300;
        color: #121F3D;
    }

    .button-content:hover {
        color: var(--color-secondary);
    }

    .MuiToolbar-regular {
        min-height: 34px;
    }

    .less-than-symbol {
        font-weight: bold;
        font-size: 2em;
        color: var(--color-secondary);
    }

    .header-label {
        font-weight: bold;
        position: relative;
        bottom: 6px;
    }
}